params {
    config_profile_description = 'nf-core/sarek O2 profile provided by nf-core/configs'
    config_profile_contact     = 'Jeremy Muhlich <jeremy_muhlich@hms.harvard.edu>'
}

apptainer {
    enabled     = true
    autoMounts  = true
    pullTimeout = '120m'
    runOptions  = '--nv --env CUDA_VISIBLE_DEVICES="$CUDA_VISIBLE_DEVICES"'
    cacheDir    = '/n/groups/lsp/mcmicro/singularity'
}
