params {
    config_profile_description = 'Harvard Medical School O2 cluster profile provided by nf-core/configs'
    config_profile_contact = 'Jeremy Muhlich <jeremy_muhlich@hms.harvard.edu>'
    config_profile_url = 'https://harvardmed.atlassian.net/wiki/spaces/O2/overview'
    publish_dir_mode = 'link'
    o2_user = System.getenv('USER')
}

validation {
    ignoreParams = [
        'o2_user'
    ]
}

workDir = "/n/scratch/users/${params.o2_user[0]}/${params.o2_user}/nextflow-work"

process {
    executor = 'slurm'
    maxRetries = 2
    queue = {
        if (task.accelerator) {
            'gpu_quad'
            // TODO: Add support for 'gpu' and possibly 'gpu_requeue'.
        } else if (task.time <= 12.h) {
            'short'
        } else if (task.time <= 5.d) {
            'medium'
        } else {
            'long'
        }
    }
    resourceLimits = {
        task.accelerator
            ? [cpus: 48, memory: 480.GB, time: 5.d]   // gpu queues
            : [cpus: 96, memory: 251.GB, time: 30.d]  // other queues
    }
    clusterOptions = {
        task.accelerator
            ? ('--gres=gpu:' + (task.accelerator?.type ? "${task.accelerator.type}:" : '') + (task.accelerator?.request ?: 1))
            : ''
    }
}
